#home {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
    & #movies {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }
    & #pagination {
        display: flex;
        width: 100%;
    }
};